@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Nabla (Nama Markas Besar) */
@font-face {
  font-family: 'Nabla';
  src: url('./assets/font/Nabla-Regular.woff2') format('truetype');
}

/* Font Poppins untuk font yang digunakan web univy */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
}

/* Font Poppins Semibold untuk font yang digunakan web univy */
@font-face {
  font-family: 'Poppins-semibold';
  src: url('./assets/font/Poppins-SemiBold.ttf') format('truetype');
}

/* Font Poppins Medium untuk font yang digunakan web univy */
@font-face {
  font-family: 'Poppins-medium';
  src: url('./assets/font/Poppins-Medium.ttf') format('truetype');
}

/* Font Poppins Bold untuk font yang digunakan web univy */
@font-face {
  font-family: 'Poppins-bold';
  src: url('./assets/font/Poppins-Bold.ttf') format('truetype');
}

/* Font Poppins Light untuk font yang digunakan web univy */
@font-face {
  font-family: 'Poppins-light';
  src: url('./assets/font/Poppins-Light.ttf') format('truetype');
}

/* Font Monsterrat untuk component profile */
@font-face {
  font-family: 'Monsterrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}

/* Font Monsterrat Semi-Bold untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Monsterrat-semibold';
  src: url('./assets/font/Montserrat-SemiBold.ttf');
}

/* Font Monsterrat Medium untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Monsterrat-medium';
  src: url('./assets/font/Montserrat-Medium.ttf');
}

/* Font Kanit untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Kanit-bold';
  src: url('./assets/font/Kanit-Bold.ttf');
}

/* Font Inter untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Inter-regular';
  src: url('./assets/font/Inter_18pt-Regular.ttf');
}

/* Font Inter untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Inter-semibold';
  src: url('./assets/font/Inter_18pt-SemiBold.ttf');
}

/* Font Inter untuk font yang digunakan di web univy */
@font-face {
  font-family: 'Inter-bold';
  src: url('./assets/font/Inter_18pt-Bold.ttf');
}

/* Untuk className H1 */
.font-nabla {
  font-family: 'Nabla', cursive;
  color: rgba(51, 78, 172, 1) !important;
  -webkit-text-fill-color: rgba(51, 78, 172, 1);
  -webkit-text-stroke: 0;
}

/* Untuk font-family className menu Navigasi home,shop,product,about */
.font-poppins {
  font-family: 'Poppins';
}

.font-poppins-f {
  font-family: 'Poppins';
}

@media (max-width: 768px) {
  .font-poppins-f {
    font-family: 'Poppins';
    font-size: 12px
  }
}

/* Untuk font-family className menu button sign up */
.font-poppins-sign {
  font-family: 'Poppins';
  color: rgba(51, 78, 172, 1);
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 3px;
}

/* Untuk styling warna button sign up */
.button-sign {
  background-color: rgba(208, 227, 255, 1);
}

/* Untuk styling warna button logout */
.button-logout {
  background-color: red;
}

/* Untuk font-family className menu button login */
.font-poppins-login {
  font-family: 'Poppins';
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 3px;
}

/* Untuk font-family className menu H1 di sebelumfooter */
.font-nabla-white-sebelumfooter {
  font-family: 'Nabla', cursive;
  font-size: 64px;
  color: white !important;
  -webkit-text-fill-color: white; /* Untuk memastikan di browser Webkit */
  -webkit-text-stroke: 0; /* Jika ada garis di font */
}

/* Untuk styling warna button login */
.button-login {
  background-color: rgba(51, 78, 172, 1);
}

/* Untuk Background sebelum footer*/
.background-abu {
  background-color: #2e3238;
}

/* Untuk className H1 sebelumfooter */
.font-nabla-sebelumfooter {
  font-family: 'Nabla', cursive;
  color: white !important;
  -webkit-text-fill-color: white; /* Untuk memastikan di browser Webkit */
  -webkit-text-stroke: 0; /* Jika ada garis di font */
}

/* Untuk Sidebar Category Header */
.font-poppins-category-header {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 30px;
}

/* Untuk Sidebar Category Body */
.font-poppins-category-body {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 14px;
}

/* Untuk Sidebar Category Judul Body */
.font-poppins-category-body-judul {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

.Sebelumfooter {
  margin-top: auto;
}

/* Ini untuk aksi ketika button disentuh maka fungsi ini akan berjalan */
.active-menu {
  background-color: #cfe8ff;
  color: #D0E3FF;
}

/* Untuk judul menu navigasi profile */
.font-poppins-menu-navigasi-header {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
}

/* Untuk sub judul menu navigasi profile */
.font-poppins-menu-navigasi-body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
}

/* Untuk Bagian judul profil */
.font-poppins-profil-isi {
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 32px;
}

/* Untuk Bagian judul profil */
.font-poppins-profil-isi-form {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 20px;
}

/* Untuk Tulisan Button Ganti Password Profil */
.font-monster-button-password {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: 'Monsterrat';
}

/* Untuk Tulisan yang ada di Judul Login dan Register */
.font-headlogin-poppins {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
  font-family: 'Poppins';
}

@media (max-width:768px){
  .font-headlogin-poppins {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: black;
    font-family: 'Poppins';
  }
}

/* Untuk Tulisan yang ada di sub Login dan Register */
.font-sublogin-poppins {
  font-size: 16px;
  font-weight: 600;
  color: black;
  font-family: 'Poppins';
}

/* Untuk Tulisan yang ada di sub Login dan Register */
.font-sublogin-poppins-r {
  font-size: 14px;
  font-weight: 400;
  color: black;
  font-family: 'Poppins';
  text-align: center;
}

/* Untuk Tulisan yang ada di sub Login dan Register */
.font-sublogin-poppins-m {
  font-size: 14px;
  font-weight: 400;
  color: red;
  font-family: 'Poppins';
  text-align: center;
}

/* Untuk Tulisan yang ada di sub Login dan Register */
.font-sublogin-poppins-mg {
  font-size: 14px;
  font-weight: 400;
  color: green;
  font-family: 'Poppins';
  text-align: center;
}

/* Untuk Tulisan yang ada di button Login dan Register */
.font-btnlogin-monster {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Monsterrat';
}

.font-btngoogle-monster {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: 'Monsterrat';
}

/* Untuk Tulisan Judul Product */
.font-poppins-judul-product {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 20px;
}

.font-poppins-16-product-e {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 16px;
}

/* Untuk Tulisan Sub Judul Product */
.font-poppins-16-sub-product-e {
  font-family: 'Poppins-semibold';
  font-size: 15px;
}

/* Untuk Tulisan Judul Product */
.font-poppins-judul-products {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 20px;
}

/* Untuk Tulisan Sub Judul Product */
.font-poppins-sub-judul-products {
  font-family: 'Poppins-semibold';
  font-size: 20px;
}

/* Untuk Tulisan Judul Product Detail */
.font-poppins-18-400-p {
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 400;
}

/* Untuk Tulisan Sub Judul Product Detail */
.font-poppins-20-600-p {
  font-family: 'Poppins-semibold';
  font-size: 20px;
}

@media (max-width: 768px) {
  /* Untuk Tulisan Judul Product Detail */
.font-poppins-18-400-p {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

.font-poppins-16-product-e {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 13px;
}

/* Untuk Tulisan Sub Judul Product */
.font-poppins-16-sub-product-e {
  font-family: 'Poppins-semibold';
  font-size: 13px;
}

/* Untuk Tulisan Sub Judul Product Detail */
.font-poppins-20-500-p   {
  font-family: 'Poppins-medium';
  font-size: 20px;
}
}

/* Untuk Tulisan Product Detail */
.font-poppins-produkdetail-t {
  font-family: 'Poppins-medium';
  font-size: 18px;
}

.font-monster-11-500 {
  font-family: 'Monsterrat-semibold';
  font-size: 11px;
}

.font-poppins-20-700 {
  font-family: 'Poppins-semibold';
  font-size: 20px;
}

@media (max-width: 768px) {
  /* Untuk Tulisan Product Detail */
.font-poppins-produkdetail-t {
  font-family: 'Poppins-medium';
  font-size: 16px;
}
.font-poppins-20-700 {
  font-family: 'Poppins-semibold';
  font-size: 16px;
}
}


/* Untuk Tulisan Product Detail */
.font-poppins-produkdetail-t20 {
  font-family: 'Poppins-medium';
  font-size: 20px;
}

.font-monster-btn-pd-1 {
  font-family: 'Monsterrat-semibold';
  font-size: 20px;
  color: #334EAC;
}

.font-monster-btn-pd-2 {
  font-family: 'Monsterrat-semibold';
  font-size: 20px;
  color: white;
}

.font-poppins-20-400-b{
  font-family: 'Poppins-medium';
  font-size: 20px;
}

.font-monster-btn-pd-3 {
  font-family: 'Monsterrat-semibold';
  font-size: 16px;
  color: #334EAC;
}

.font-poppins-btn-d {
  font-family: 'Poppins';
  font-size: 16px;
}

.font-kanit-bold-k {
  font-family: 'Kanit-bold';
  font-size: 45px;
  color: #1A2756;
}

.font-kanit-bold-kd {
  font-family: 'Poppins-bold';
  font-size: 32px;
  color: #334EAC;
}

@media (max-width: 768px){
  .font-kanit-bold-k {
    font-family: 'Kanit-bold';
    font-size: 22px;
    color: #1A2756;
  }
  .font-kanit-bold-kd {
    font-family: 'Poppins-bold';
    font-size: 16px;
    color: #334EAC;
  }
  .font-poppins-judul-product {
    font-weight: 300;
    font-family: 'Poppins';
    font-size: 10px;
  }
  .font-poppins-sub-judul-product {
    font-family: 'Poppins';
    font-size: 10px;
  }
  .font-poppins-judul-products {
    font-weight: 300;
    font-family: 'Poppins';
    font-size: 16px;
  }
  .font-poppins-sub-judul-products {
    font-family: 'Poppins-semibold';
    font-size: 16px;
  }
}

.font-monster-medium-u {
  font-family: 'Monsterrat-medium';
  font-size: 11px;
  color: black;
}

.font-poppins-64-600 {
  font-family: 'Poppins-semibold';
  font-size: 60px;
}

.font-poppins-24-500 {
  font-family: 'Poppins';
  font-size: 24px;
}

.font-poppins-36-600 {
  font-family: 'Poppins-semibold';
  font-size: 36px;
}

.font-poppins-36-500 {
  font-family: 'Poppins-medium';
  font-size: 36px;
}

.font-poppins-20-300 {
  font-family: 'Poppins';
  font-size: 20px;
}

.font-poppins-16-500 {
  font-family: 'Poppins';
  font-size: 16px;
}

.font-poppins-32-500 {
  font-family: 'Poppins-semibold';
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.font-poppins-24-400 {
  font-family: 'Poppins-light';
  font-size: 20px;
}

.font-poppins-20-400 {
  font-family: 'Poppins';
  font-size: 14px;
}

.font-poppins-24-600{
  font-family: 'Poppins-semibold';
  font-size: 24px;
}

.font-poppins-16-400{
  font-family: 'Poppins';
  font-size: 16px;
}

.font-moster-24-600 {
  font-family: 'Monsterrat-semibold';
  font-size: 18px;
}

@media (max-width: 768px) {
  .font-moster-20-600 {
    font-family: 'Monsterrat-semibold';
    font-size: 16px;
  }
  .font-poppins-24-500 {
    font-family: 'Poppins';
    font-size: 16px;
  }
  .font-poppins-16-500 {
    font-family: 'Poppins';
    font-size: 14px;
  }
  .font-poppins-20-400 {
    font-family: 'Poppins';
    font-size: 14px;
  }
  .font-poppins-24-400 {
    font-family: 'Poppins-light';
    font-size: 16px;
  }
  .font-poppins-32-500 {
    font-family: 'Poppins-semibold';
    font-size: 17px;
    margin-bottom: 15px;
    text-align: center;
  }
  .font-poppins-24-600{
    font-family: 'Poppins-semibold';
    font-size: 16px;
  }
  .font-moster-24-600 {
    font-family: 'Monsterrat-semibold';
    font-size: 16px;
  }
  .font-poppins-18-500{
    font-family: 'Poppins';
    font-size: 12px;
  }
  .font-poppins-36-500{
    font-family: 'Poppins-semibold';
    font-size: 60px;
  }
  .font-inter-16-600 {
    font-family: 'Inter-semibold';
    font-size: 14px;
    color: #334EAC;
  }
  
  .font-inter-20-600{
    font-family: 'Inter-semibold';
    font-size: 16px;
    color: white;
  }
  
  .font-inter-13-400 {
    font-family: 'Inter-regular';
    font-size: 11px;
  }
  
  .font-monster-13-500 {
    font-family: 'Monsterrat-medium';
    font-size: 11px;
  }
}

.font-moster-20-600 {
  font-family: 'Monsterrat-semibold';
  font-size: 20px;
}

.font-poppins-18-500{
  font-family: 'Poppins';
  font-size: 18px;
}

.font-poppins-36-500{
  font-family: 'Poppins-semibold';
  font-size: 36px;
}

.font-inter-16-600 {
  font-family: 'Inter-semibold';
  font-size: 16px;
  color: #334EAC;
}

.font-inter-20-600{
  font-family: 'Inter-semibold';
  font-size: 20px;
  color: white;
}

.font-inter-13-400 {
  font-family: 'Inter-regular';
  font-size: 11px;
}

.font-monster-13-500 {
  font-family: 'Monsterrat-medium';
  font-size: 11px;
}

.font-poppins-13-700 {
  font-family: 'Poppins-bold';
  font-size: 13px;
}

.font-inter-20-700 {
  font-family: 'Inter-bold';
  font-size: 18px;
}

.font-inter-20-700-t {
  font-family: 'Inter-bold';
  font-size: 32px;
}

.font-poppins-10-500 {
  font-family: 'Poppins-medium';
  font-size: 10px;
  color: white;
}

/* Animasi Fade In */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Efek gerakan dari bawah */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animasi Fade Out */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px); /* Efek gerakan ke atas */
  }
}

/* Kelas untuk animasi masuk (fade-in) */
.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

/* Kelas untuk animasi keluar (fade-out) */
.fade-out {
  animation: fadeOut 1s ease-out forwards;
}


@media (max-width:768px){
  .font-monster-medium-u {
    font-family: 'Monsterrat-medium';
    font-size: 7px;
    color: black;
  }
  .font-poppins-64-600 {
    font-family: 'Poppins-semibold';
    font-size: 35px;
  }
  
  .font-poppins-24-500 {
    font-family: 'Poppins';
    font-size: 15px;
  }
  .font-poppins-13-700 {
    font-family: 'Poppins-bold';
    font-size: 10px;
  }

  .font-poppins-13-700-t {
    font-family: 'Poppins-bold';
    font-size: 10px;
  }
  
  .font-inter-20-700 {
    font-family: 'Inter-bold';
    font-size: 14px;
  }

  .font-inter-20-700-t {
    font-family: 'Inter-bold';
    font-size: 14px;
  }
  
  .font-poppins-10-500 {
    font-family: 'Poppins-medium';
    font-size: 10px;
    color: white;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Untuk ukuran device kecil */
@media (max-width: 768px) {
  .w-52 {
    display: none;
  }
}

/* Untuk custom scroll */
.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6b7280, #334eac);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4b5563, #2563eb);
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.slide {
  animation: slide-in 0.5s forwards;
}

.no-scroll {
  overflow: hidden;
}

nav ul li a {
  position: relative;
  color: #4b5563; /* Warna teks */
  font-family: 'Poppins', sans-serif; /* Font */
  font-weight: 500; /* Berat font */
  text-decoration: none;
  display: inline-block;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Jarak underline dari teks */
  left: 0;
  width: 100%; /* Lebar underline penuh */
  height: 2px;
  background-color: #3b82f6; /* Warna underline */
  transform: scaleX(0); /* Awal transformasi, tidak terlihat */
  transform-origin: left; /* Mulai dari sisi kiri */
  transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after {
  transform: scaleX(1); /* Tampilkan underline penuh langsung ke kanan */
}

.bg-blur {
  filter: blur(8px); /* Sesuaikan tingkat blur sesuai keinginan */
  transform: scale(1.1); /* Perbesar gambar sedikit untuk menghindari garis tepi */
}

.custom-snackbar {
  font-size: 1.5rem; /* Atur ukuran font */
  padding: 20px; /* Tambahkan padding */
  width: 400px; /* Sesuaikan lebar */
  background-color: #f0f0f0; /* Warna background */
  border-radius: 8px; /* Opsional: border radius */
}

/* Custom scrollbar for sidebar */
#custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1d4ed8 #e5e7eb; /* Warna track dan thumb */
}

#custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

#custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* Warna track */
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1d4ed8; /* Warna thumb (scroll handle) */
  border-radius: 10px; /* Membuat ujungnya melengkung */
}

#custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1e3a8a; /* Warna thumb saat di-hover */
}
