@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk Nama Markas Besar */
@font-face {
  font-family: 'Nabla';
  src: url('./assets/font/Nabla-Regular.woff2') format('truetype');
}

/* Untuk font navigasi dan  button sign up dan login */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Monsterrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}

/* Untuk className H1 */
.font-nabla {
  font-family: 'Nabla', cursive;
  color: rgba(51, 78, 172, 1) !important;
  -webkit-text-fill-color: rgba(51, 78, 172, 1); /* Untuk memastikan di browser Webkit */
  -webkit-text-stroke: 0; /* Jika ada garis di font */
}

/* Untuk font-family className menu Navigasi home,shop,product,about */
.font-poppins {
  font-family: 'Poppins';
}

/* Untuk font-family className menu button sign up */
.font-poppins-sign {
  font-family: 'Poppins';
  color: rgba(51, 78, 172, 1);
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 3px;
}

/* Untuk styling warna button sign up */
.button-sign {
  background-color: rgba(208, 227, 255, 1);
}

/* Untuk font-family className menu button login */
.font-poppins-login {
  font-family: 'Poppins';
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
  border-radius: 3px;
}

/* Untuk font-family className menu H1 di sebelumfooter */
.font-nabla-white-sebelumfooter {
  font-family: 'Nabla', cursive;
  font-size: 64px;
  color: white !important;
  -webkit-text-fill-color: white; /* Untuk memastikan di browser Webkit */
  -webkit-text-stroke: 0; /* Jika ada garis di font */
}

/* Untuk styling warna button login */
.button-login {
  background-color: rgba(51, 78, 172, 1);
}

/* Untuk Background sebelum footer*/
.background-abu {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Untuk className H1 sebelumfooter */
.font-nabla-sebelumfooter {
  font-family: 'Nabla', cursive;
  color: white !important;
  -webkit-text-fill-color: white; /* Untuk memastikan di browser Webkit */
  -webkit-text-stroke: 0; /* Jika ada garis di font */
}

/* Untuk Sidebar Category Header */
.font-poppins-category-header {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 30px;
}

/* Untuk Sidebar Category Body */
.font-poppins-category-body {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 14px;
}

/* Untuk Sidebar Category Judul Body */
.font-poppins-category-body-judul {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
}

/* Menjaga komponen sebelumfooter selalu di bawah */
.sebelumfooter-container {
  margin-top: auto;
  width: 100%;
  background-color: #2e2e2e; /* Contoh background */
  color: white; /* Warna teks */
}

.App {
  display: flex;
  flex-direction: column; /* Menyusun komponen secara vertikal */
  min-height: 200vh; /* Pastikan komponen mencakup seluruh tinggi layar */
}

.Sebelumfooter {
  margin-top: auto; /* Ini akan memastikan komponen tetap berada di bawah */
}

/* Ini untuk aksi ketika button disentuh maka fungsi ini akan berjalan */
.active-menu {
  background-color: #cfe8ff;
  color: #D0E3FF;
}

/* Untuk judul menu navigasi profile */
.font-poppins-menu-navigasi-header {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
}

/* Untuk sub judul menu navigasi profile */
.font-poppins-menu-navigasi-body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
}

/* Untuk Bagian judul profil */
.font-poppins-profil-isi {
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 32px;
}

/* Untuk Bagian judul profil */
.font-poppins-profil-isi-form {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 20px;
}

/* Untuk Tulisan Button Ganti Password Profil */
.font-monster-button-password {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: 'Monsterrat';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
